# Ignore Directory
Library/
Logs/
obj/
Packages/
ProjectSettings/
Temp/
UserSettings/
.vs/
Builds/

# Ignore Assets
Assets/Libs
Assets/Animations
Assets/Tiny RPG Forest
Assets/TinyRPGTown
Assets/2D Dungeon PixelArt Tileset

# Ignore Resources
Assets/Resources

# Ignore File
*.unity
*.csproj
*.sln
*.meta
*.mat
*.vsconfig
*.txt
*.renderTexture
*.prefab
*.png
*.user
*.shadervariants